@font-face {
  font-family: 'AllerDisplay';
  src: url('../content/fonts/AllerDisplay.ttf') format('truetype');
  font-weight: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-image: url(../../docs/sources/hangman.png);
  background-repeat: no-repeat;
  background-position: center 50px;
  opacity: 0.5;
  background-size: 1170px;
}
.container:before,
.row:before {
  content: " ";
  display: table;
}
.container:after,
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.column-whole {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
}
.column-half {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
}
.column-one-third {
  position: relative;
  float: left;
  width: 33.33%;
  min-height: 1px;
}
.column-two-third {
  position: relative;
  float: left;
  width: 66.66%;
  min-height: 1px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: AllerDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #53555D;
  background-color: #3B4163;
}
.hangman-board {
  width: 920px;
  text-transform: uppercase;
  margin-top: 145px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F5F5F5;
}
.missed-characters {
  float: right;
}
.guess-word {
  color: #F5F5F5;
  font-size: 45px;
}
.guess-word .offset-slot {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  width: 70px;
  height: 80px;
  margin-right: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #E6E6E7;
}
.guess-word .offset-slot:last-child {
  margin-right: 0;
}
.guess-word .active-slot {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  width: 70px;
  height: 80px;
  margin-right: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #53555D;
}
.guess-word .active-slot:last-child {
  margin-right: 0;
}
.guess-word p {
  margin: 0;
}
