body {
  background-image: url(../../docs/sources/hangman.png);
  background-repeat: no-repeat;
  background-position: center 50px;
  opacity: 0.5;
  background-size: 1030px 678px;
}
body {
  background-color: #3B4163;
}
