@import '_variables';
@import '_elements';
@import '_perfect-pixel-workaround';
@import '_grid';


* {
    box-sizing: border-box;
}

body {
    font-family: AllerDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:  @brand-dark;
    background-color: @background-color;
}

.hangman-board{
    width: (920px);
    text-transform: uppercase;
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    padding: @margin;
    .rounded(@round4px);
    background-color: @brand-light;
}

.hangman-body{

}

.missed-characters{
    float: right;
}

.guess-word{
    color: @brand-light;
    font-size: 45px;

    .slot(){
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 80px;
        width: 70px;
        height: 80px;
        margin-right: 6px;
        .rounded(@round);
        
        &:last-child{
            margin-right: 0;
        }
    }
    
    & .offset-slot{
        .slot;
        background-color: @brand-medium-light;
    }
    
    & .active-slot{
        .slot;
        background-color: @brand-dark;
    }
    
    & p{
      margin: 0;  
    }
}