
@brand-primary: #4D69FA;
@brand-light: #F5F5F5;
@brand-dark: #53555D;
@background-color: #3B4163;

@margin: 40px;

@font-face {
    font-family: 'AllerDisplay';
    src: url('../content/fonts/AllerDisplay.ttf') format('truetype');
    font-weight: normal;
}

@import '_elements';
@import '_perfect-pixel-workaround';
@import '_grid';



* {
    box-sizing: border-box;
}

body {
    font-family: AllerDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:  @brand-dark;
    background-color: @background-color;
}




.hangman-board{
    width: (920px);
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    padding: @margin;
    .rounded(4px);
    background-color: @brand-light;
}

.hangman-body{
    display: block;
    float: left;
}

.missed-characters{
    display: block;
    float: right;
}

.guess-word{
    display: block;
    clear: both;
}